ul {
    list-style-type: none;
    margin: 0;
    padding: 0;


}

li a {
    display: block;
    color: #fff;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 24px;
    margin: 0px 0px 0px 30px;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.header-main {
    background-color: #1d1e27;
    position: fixed;
    height: 82%;
    margin: 5%;
    overflow: auto;
    width: 25%;
}

@font-face {
    font-family: 'Caviar-Dreams';
    src:url('../fonts/Caviar-Dreams.ttf.woff') format('woff'),
    url('../fonts/Caviar-Dreams.ttf.svg#Caviar-Dreams') format('svg'),
    url('../fonts/Caviar-Dreams.ttf.eot'),
    url('../fonts/Caviar-Dreams.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Caviar-Dreams';
    background-color: #2c2e3c;
}

hr{
    background-color: #000;
    border-color: #000;
    color: #000;
}

.frame-home {
    margin-left:30%;
    padding:1px 16px;
    background-color: #fff;
    position: fixed;
    height: 82%;
    margin-top: 5%;
    overflow: auto;
    width: 65%;
}