ul {
    list-style-type: none;
    margin: 0;
    padding: 0;


}

li a {
    display: block;
    color: #fff;
    padding: 10px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.header-main {
    background-color: #1d1e27;
    position: fixed;
    height: 100%;
    overflow: auto;
    width: 25%;
}

@font-face {
    font-family: 'Caviar-Dreams';
    src:url('../fonts/Caviar-Dreams.ttf.woff') format('woff'),
    url('../fonts/Caviar-Dreams.ttf.svg#Caviar-Dreams') format('svg'),
    url('../fonts/Caviar-Dreams.ttf.eot'),
    url('../fonts/Caviar-Dreams.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Caviar-Dreams';
}